.container{
  max-width: 800px;
  margin: 0 auto;
}
.title{
  position: relative;
  text-align: center;
  color: #3ca1d9;
  font-size: 3rem;
  line-height: 1;
  text-shadow: 3px 3px 2px #402d76;
}
.title::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 200%;
  border-radius: 50%/30%;
  border: 6px solid #3ca1d9;
  border-left-color: transparent;
  border-right-color: transparent;
}
.textarea{
  width: 100%;
  height: 160px;
  margin-top: 15px;
  margin-bottom: 40px;
  font-size: 20px;
}
.keyboard{
  padding: 5px;
  border: 3px solid #943232;
  background-color: #af9a9e;
  border-radius: 5px;
}
.line1,
.line2,
.line3,
.line4,
.line5{
  display: flex;
}
.key-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #943232;
  margin: 4px;
  padding: 3px;
  background-color: #c1d0d8;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 2px 2px black;
  transition: 0.4s ease;
}
.key-btn:hover{
  cursor: pointer;
  background-color: #17465f;
}
.key-backspace,
.key-capslock{
  width: 100px;
  background-color: #7d9cad;
}
.key-tab{
  width: 50px;
  background-color: #7d9cad;
}
.key-del{
  width: 44px;
  background-color: #7d9cad;
}
.key-enter{
  width: 86px;
  background-color: #7d9cad;
}
.key-shift{
  width: 93px;
  background-color: #7d9cad;
}
.key-space{
  width: 376px;
}
.key-arrow,
.key-ctrl,
.key-alt{
  background-color: #7d9cad;
}
img{
  width: 50%;
  height: 50%;
}
.arrow-left{
  transform: rotate(-90deg);
}
.arrow-right {
  transform: rotate(90deg);
}
.arrow-down {
  transform: rotate(180deg);
}
.pressed{
  background-color: #17465f;
  box-shadow: 1px 1px black;
}
.info{
  padding: 15px;
  font-size: 1.5rem;
  text-align: center;
  color: #943232;
  border: 3px solid #943232;
}
.caps{
  text-transform: uppercase;
}
.checked{
  background-color: #17465f;
  color: #943232;
}